body {
    background-color: black;
    border: 0px;
    padding: 0px;
    background-size: cover;
}

.content {
    background-color: #FFAF3F;
    color: white;
    font-size: 80px;
    background-size: 200px;
    height: 95px;
    width: 300px;
    padding: 20x;
    margin-left: 38%;
    text-align: center;
    margin-top: 5%;
 }

.image { 
  height: 20px;
  width: 900px;
  margin-top: 50px;
  margin-left: 350px;
  padding-bottom: 300px;
  
     
}

.photo {
    height: 20px;
    width: 900px;
    margin-top: 50px;
    margin-left: 250px;
    
    
}

.screen {
    height: 1px;
    width: 900;
    margin-top: 550px;
    margin-right: 300px ;
    float: right;
    
}


.header_left {
    font-family: sans-serif;
    color: white;
    font-size: 65px;
    background-color: #FE4A49;
    width: 11%;
    border: 15px;
    padding: 10px;
    margin: 0px;
    float: left;
    
}   

.header_left a:visited {
    color: white;
    
}


.donate {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
     background-color: #FE4A49;
    float: right;
    width: 55%;
    margin-top: 50px;
    margin-right: 25%;
    text-align: center;

}

.video {
    color: white;
    font-family: sans-serif;
    background-color: #FFAF3F;
    font-size: 65px;
    width: 88%;
    height: 80%x;
    margin-top: 98%;
    margin-left: 5%;
    text-align: center;
    
}
    
.video a:visited {
    color: white;
    background-color: #FE4A49;

}

.contact {
    color: white;
    font-family: sans-serif;
    background-color: #FE4A49;
    font-size: 65px;
    border: 15px;
    padding: 10px;
    margin: 0px;
    float: right;
    
}

    .contact a:visited {
    color: white;
}

.navigation {
    float: right;
    font-family: sans-serif;
    font-size: 20px;
    background color: #FED766;
    font-family; align-content: center;
    height; 5px;
}

.topnav {
    font-family: cursive;
    overflow: hidden;
    background-color: #FFAF3F;
    width: 63%;
    opacity: 0.9;
    font-size: 35px;
    margin: auto;
    text-align: center;
    box-sizing:border-box;
    
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #FED766;
    color: black;

}

.coloum 1 {
    float: right;
    
}
